---
layout: raw
---
<style>
  img {
    height: 1in;
  }
  table {
    border: 1px solid black;
  }
  th, td {
    border: 1px solid black;
    padding: 0.1rem;
  }
</style>
<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>QR code</th>
      <th>Target</th>
    </tr>
  </thead>
  <tbody>
  {% for p in site.pages %}
  {% if p.target %}
    <tr>
      <td><a href="{{ p.url }}">{{ p.url }}</a></td>
      <td><a href="{{ p.url }}.png"><img src="{{ p.url }}.png"></a></td>
      <td><a href="{{ p.target }}">{{ p.target }}</a></td>
    </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>